<div class="d-flex flex-column flex-shrink-0 p-3" style="height: 100vh; background-color: #ffffff;">
    <a href="/home" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
      <svg class="bi me-2" width="25" height="25"><use xlink:href="#basket"></use></svg>
      <span class="fs-4" style="margin-top: 5px;">GSMS</span>
    </a>
    <hr style="margin-top: 7px;margin-bottom: 20px;">
    <ul class="nav nav-pills flex-column mb-auto  list-group" role="tablist">
      <li>
        <a href="#" class="nav-link active" data-toggle="list" onclick="window.location.assign('/'+shopid+'/shop/');">
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#home"></use></svg>
          Dashboard
        </a>
      </li>
      <li>
        <a href="#" class="nav-link " data-toggle="list" >
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#table"></use></svg>
          Orders
        </a>
      </li>
      <li>
        <a href="#" class="nav-link"   data-toggle="list" onclick="window.location.assign('/'+shopid+'/products/');" >
            <svg class="bi me-2" width="16" height="16"><use xlink:href="#grid"></use></svg>
            Products
          </a>
      </li>
      <li>
        <a href="#" class="nav-link " data-toggle="list" >
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#people-circle"></use></svg>
          Employees
        </a>
      </li>
      <li>
        <a href="/logout" class="nav-link " >
          <svg class="bi me-2" width="16" height="16"><use xlink:href="#log-out"></use></svg>
          Logout
        </a>
      </li>
    </ul>
    <hr>
  </div>  